body{
  margin: 0;
}
#root {
  margin: 0;
  background-color: #eaeaea;
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.contenedor {
  max-width: 490px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
}